apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "patchmon.fullname" . }}-backend
data:
  LOG_LEVEL: {{ .Values.patchmon.logLevel | quote }}

  SERVER_PROTOCOL: {{ .Values.patchmon.server.protocol | quote }}
  SERVER_HOST: {{ .Values.patchmon.server.host | quote }}
  SERVER_PORT: {{ .Values.patchmon.server.port | quote }}
  CORS_ORIGIN: {{ .Values.patchmon.server.corsOrigin | quote }}
  TRUST_PROXY: {{ .Values.patchmon.server.trustProxy | quote }}
  ENABLE_HSTS: {{ .Values.patchmon.server.enableHsts | quote }}

  JWT_EXPIRES_IN: {{ .Values.patchmon.jwt.expiresIn | quote }}
  JWT_REFRESH_EXPIRES_IN: {{ .Values.patchmon.jwt.refreshExpiresIn | quote }}

  DB_CONNECTION_LIMIT: {{ .Values.patchmon.dbPool.connectionLimit | quote }}
  DB_POOL_TIMEOUT: {{ .Values.patchmon.dbPool.poolTimeout | quote }}
  DB_CONNECT_TIMEOUT: {{ .Values.patchmon.dbPool.connectTimeout | quote }}
  DB_IDLE_TIMEOUT: {{ .Values.patchmon.dbPool.idleTimeout | quote }}
  DB_MAX_LIFETIME: {{ .Values.patchmon.dbPool.maxLifetime | quote }}

  RATE_LIMIT_WINDOW_MS: {{ .Values.patchmon.rateLimit.windowMs | quote }}
  RATE_LIMIT_MAX: {{ .Values.patchmon.rateLimit.max | quote }}
  AUTH_RATE_LIMIT_WINDOW_MS: {{ .Values.patchmon.rateLimit.authWindowMs | quote }}
  AUTH_RATE_LIMIT_MAX: {{ .Values.patchmon.rateLimit.authMax | quote }}
  AGENT_RATE_LIMIT_WINDOW_MS: {{ .Values.patchmon.rateLimit.agentWindowMs | quote }}
  AGENT_RATE_LIMIT_MAX: {{ .Values.patchmon.rateLimit.agentMax | quote }}

  TZ: {{ .Values.patchmon.timezone | quote }}

  {{- if .Values.patchmon.oidc.enabled }}
  OIDC_ENABLED: "true"
  OIDC_ISSUER_URL: {{ .Values.patchmon.oidc.issuerUrl | quote }}
  OIDC_CLIENT_ID: {{ .Values.patchmon.oidc.clientId | quote }}
  OIDC_REDIRECT_URI: {{ .Values.patchmon.oidc.redirectUri | quote }}
  OIDC_SCOPES: {{ .Values.patchmon.oidc.scopes | quote }}
  OIDC_AUTO_CREATE_USERS: {{ ternary "true" "false" .Values.patchmon.oidc.autoCreateUsers | quote }}
  OIDC_DEFAULT_ROLE: {{ .Values.patchmon.oidc.defaultRole | quote }}
  OIDC_BUTTON_TEXT: {{ .Values.patchmon.oidc.buttonText | quote }}

  # From docs
  OIDC_DISABLE_LOCAL_AUTH: {{ ternary "true" "false" .Values.patchmon.oidc.disableLocalAuth | quote }}
  OIDC_SYNC_ROLES: {{ ternary "true" "false" .Values.patchmon.oidc.syncRoles | quote }}

  {{- if .Values.patchmon.oidc.adminGroup }}
  OIDC_ADMIN_GROUP: {{ .Values.patchmon.oidc.adminGroup | quote }}
  {{- end }}
  {{- if .Values.patchmon.oidc.userGroup }}
  OIDC_USER_GROUP: {{ .Values.patchmon.oidc.userGroup | quote }}
  {{- end }}
  {{- end }}

