{{- $s := lookup "v1" "Secret" .Release.Namespace (include "patchmon.fullname" .) -}}

{{- $oldPg := "" -}}
{{- if and $s (index $s "data") (index (index $s "data") "POSTGRES_PASSWORD") -}}
{{- $oldPg = (index (index $s "data") "POSTGRES_PASSWORD") | b64dec -}}
{{- end -}}

{{- $oldJwt := "" -}}
{{- if and $s (index $s "data") (index (index $s "data") "JWT_SECRET") -}}
{{- $oldJwt = (index (index $s "data") "JWT_SECRET") | b64dec -}}
{{- end -}}

apiVersion: v1
kind: Secret
metadata:
  name: {{ include "patchmon.fullname" . }}
type: Opaque
stringData:
{{- if and (eq .Values.database.mode "internal") (not .Values.postgres.auth.existingSecret) }}
  POSTGRES_PASSWORD: {{ default (randAlphaNum 32) $oldPg | quote }}
{{- end }}
  JWT_SECRET: {{ default (randAlphaNum 64) (default $oldJwt .Values.patchmon.jwt.secret) | quote }}
